@media only screen and (min-width: 320px) {
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .desktop_header{
        display: none;
    }

    body{
        background-image: url(assets/background-destination-mobile.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .mobile_header{
        display: flex;
        justify-content: space-between;
    }

    .mobile_logo{
        margin-left: 15px;
        margin-top: 30px;
    }

    .menu{
        margin-right: 15px;
        margin-top: 30px;
    }
    
    #my_sidenav{
        display: none;
        padding-left: 30px;
        padding-right: 25px;
        padding-top: 40px;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;
        background-color: #d0d6f928;
        backdrop-filter: blur(20px);
    }

    .sidenav a{
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    li{
        list-style-type: none;
    }

    ul{
        margin-top: 50px;
    }

    .close{
        float: right;
        margin-bottom: 50px;
    }

    .mobile_container{
        color: white;
        text-align: center;
    }

    .primary_header1{
        margin-top: 30px;
    }

    .h1{
        color: #d0d6f928;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Bellefair', serif;
    }

    .h2{
        color: #ffffff;
        font-size: 25px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .moon1{
        width: auto;
        height: 250px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .destination_navs1 a{
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 16px;
        font-family: 'Barlow Condensed', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

    }

    .sub_header1{
        font-size: 80px;
        font-family: 'Bellefair', serif;
        font-weight: 100;
        margin-top: 20px;
    }

    .primary_paragraph1{
        font-size: 18px;
        font-family: 'Barlow Condensed' sans-serif;
        line-height: 30px;
        padding: 15px;
    }

    .demacation_line1{
        background-color: #ffffff;
        width: 350px;
        height: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .bottom_paragraph1{
        margin-bottom: 100px;
    }

    .p1{
        margin-bottom: 15px;
    }

    .p11{
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Bellefair', serif;
    }

    .p12{
        font-size: 28px;
        font-family: 'Bellefair', serif;
    }

    .p21{
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Bellefair', serif;
    }

    .p22{
        font-size: 28px;
        font-family: 'Bellefair', serif;
    }
}

@media only screen and (min-width: 1024px) {
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        background-image: url(assets/background-destination-desktop.jpg);
        background-size: cover;
        background-position: top;
        height: 100vh;
    }

    .desktop_header{
        display: block;
    }

    .mobile_header, .mobile_container{
        display: none;
    }

    p:hover, h1:hover{
        cursor: default;
    }

    .desktop_header{
        padding-top: 35px;

    }

    .logo{
        width: auto;
        height: 50px;
        position: absolute;
        padding-left: 30px;
        margin-top: 10px;
    }

    .line{
        height: 1px;
        width: 550px;
        background-color: #d0d6f9;
        position: absolute;
        margin-left: 150px;
        margin-top: 40px;
        border-radius: 1px;
    }

    .navs a{
        text-decoration: none;
        color: #ffffff;
        margin-right: 45px;
        font-family: 'Bellefair', serif;
        font-weight: 400;
        font-size: 1.1em;
    }

    .navs{
        background-color: #d0d6f928;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 70px;
        padding-right: 100px;
        float: right;
        backdrop-filter: blur(5px);
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
    }

    .left_container{
        margin-left: 100px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 400;
    }

    .primary_header{
        padding-bottom: 30px;
    }

    .h1{
        color: #d0d6f928;
        font-size: 1.1em;
        font-family: 'Bellefair', serif;
    }

    .h2{
        color: #ffffff;
        font-size: 1.0em;
        font-family: 'Barlow Condensed', sans-serif;
    }

    .moon{
        width: auto;
        height: 350px;
        padding-top: 10px;
        padding-left: 25px;
    }

    .right_container{
        padding-top: 70px;
        padding-right: 200px;
    }

    .destination_navs a{
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        font-size: 1.0em;
        margin-right: 30px;
    }

    .destination_navs a:hover{
        text-decoration-color: white;
        text-decoration-style: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
    }

    .sub_header{
        font-size: 100px;
        font-family: 'Bellefair', serif;
        font-weight: 400;
        color: #ffffff;
        padding-bottom: 10px;
        padding-top: 25px;
    }

    .primary_paragraph{
        font-size: 1em;
        font-family: 'Barlow Condensed', sans-serif;
        color: #ffffff;
        padding-bottom: 40px;
    }

    .demacation_line{
        height: 1px;
        width: 450px;
        background-color: #ffffff;
        margin-bottom: 20px;
    }

    .bottom_paragraph{
        display: flex;
        color: #ffffff;
    }

    .p1{
        margin-right: 100px;
    }

    .p11, .p21{
        font-size: 14px;
        font-family: 'Barlow Condensed', sans-serif;
        margin-bottom: 5px;
    }

    .p12, .p22{
        font-size: 1.5em;
        font-family: 'Bellefair', serif;
    }
}